--
-- PostgreSQL database dump
--

\restrict scRoj2GaQLf176M5f2MdlucShajLTuAqQPh58Yob2QVu9y6dqspF6MI93Voqbz4

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public."Customer" (
    id integer NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Customer" OWNER TO crm_user;

--
-- Name: Customer_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public."Customer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Customer_id_seq" OWNER TO crm_user;

--
-- Name: Customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public."Customer_id_seq" OWNED BY public."Customer".id;


--
-- Name: Lead; Type: TABLE; Schema: public; Owner: crm_user
--

CREATE TABLE public."Lead" (
    id integer NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    status text DEFAULT 'New'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Lead" OWNER TO crm_user;

--
-- Name: Lead_id_seq; Type: SEQUENCE; Schema: public; Owner: crm_user
--

CREATE SEQUENCE public."Lead_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Lead_id_seq" OWNER TO crm_user;

--
-- Name: Lead_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crm_user
--

ALTER SEQUENCE public."Lead_id_seq" OWNED BY public."Lead".id;


--
-- Name: Customer id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public."Customer" ALTER COLUMN id SET DEFAULT nextval('public."Customer_id_seq"'::regclass);


--
-- Name: Lead id; Type: DEFAULT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public."Lead" ALTER COLUMN id SET DEFAULT nextval('public."Lead_id_seq"'::regclass);


--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public."Customer" (id, name, email, phone, "createdAt") FROM stdin;
1	Updated Customer	updated@example.com	9999999999	2026-09-13 09:01:25.657
3	amit kumar	amitkumarsharma@example.com	1234567890	2026-09-13 10:05:00.05
4	Sumit Isharwal	sumitisharwal20@gmail.com	3159631432	2026-09-13 10:08:44.109
\.


--
-- Data for Name: Lead; Type: TABLE DATA; Schema: public; Owner: crm_user
--

COPY public."Lead" (id, name, email, phone, status, "createdAt") FROM stdin;
1	testname	test@example.com	9456127442	New	2026-09-15 10:48:51.516
\.


--
-- Name: Customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public."Customer_id_seq"', 4, true);


--
-- Name: Lead_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crm_user
--

SELECT pg_catalog.setval('public."Lead_id_seq"', 1, true);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: Lead Lead_pkey; Type: CONSTRAINT; Schema: public; Owner: crm_user
--

ALTER TABLE ONLY public."Lead"
    ADD CONSTRAINT "Lead_pkey" PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict scRoj2GaQLf176M5f2MdlucShajLTuAqQPh58Yob2QVu9y6dqspF6MI93Voqbz4

